@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap&subset=latin-ext');

body{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    }

.container-nav{
    display: flex;
    direction: row;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
}

.image{
    padding: 10px;
}

.nav-item{
    font-weight: bold;
}

.nav-link{
    background: white;
    color:black;
    padding:10px 30px;
    text-decoration: none; 
    font-weight: bold;   
    }

.dropdown-item{
  font-weight: bold;
}

.nav-link:hover{
    color: #ff556e;
}


.botones-arriba{
    display: flex;
    justify-content: space-between;
}

.head-text{
    display: flex;
    justify-content:center;
    font-weight: bold;
}

.paragraph-text{
    display: flex;
    justify-content:center;
    text-align: center;
    font-weight: lighter;
}

.mobile-picture{
    display: flex;
    margin-left: auto; 
    margin-right: auto;
}



.heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
            animation-name: heartbeat;
}


/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
 @-webkit-keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  
 


/**
 * ----------------------------------------
 * animation blink-1
 * ----------------------------------------
 */
 .blink-1 {
	-webkit-animation: blink-1 4s ease-in-out infinite both;
	        animation: blink-1 4s ease-in-out infinite both;
}

 @-webkit-keyframes blink-1 {
    0%,
    50%,
    100% {
      opacity: 1;
    }
    25%,
    75% {
      opacity: 0;
    }
  }
  @keyframes blink-1 {
    0%,
    50%,
    100% {
      opacity: 1;
    }
    25%,
    75% {
      opacity: 0;
    }
  }
  

  .swirl-in-fwd {
	-webkit-animation: swirl-in-fwd 1.2s ease-out both;
	        animation: swirl-in-fwd 1.2s ease-out both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-11-9 12:48:44
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation swirl-in-fwd
 * ----------------------------------------
 */
 @-webkit-keyframes swirl-in-fwd {
    0% {
      -webkit-transform: rotate(-540deg) scale(0);
              transform: rotate(-540deg) scale(0);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotate(0) scale(1);
              transform: rotate(0) scale(1);
      opacity: 1;
    }
  }
  @keyframes swirl-in-fwd {
    0% {
      -webkit-transform: rotate(-540deg) scale(0);
              transform: rotate(-540deg) scale(0);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotate(0) scale(1);
              transform: rotate(0) scale(1);
      opacity: 1;
    }
  }
  

  /**
 * ----------------------------------------
 * animation blink-1
 * ----------------------------------------
 */
 .blink-2 {
	-webkit-animation: blink-1 0.5s ease-in-out infinite both;
	        animation: blink-1 0.5s ease-in-out infinite both;
}

 @-webkit-keyframes blink-1 {
    0%,
    50%,
    100% {
      opacity: 1;
    }
    25%,
    75% {
      opacity: 0;
    }
  }
  @keyframes blink-1 {
    0%,
    50%,
    100% {
      opacity: 1;
    }
    25%,
    75% {
      opacity: 0;
    }
  }
  