*{
    margin: 0;
    padding: 0;
    background-color: rgb(14, 191, 210);
}


.header{
    margin-bottom: 120px;
}

li a{
    list-style-type:"square";
    color: #333;
    margin-bottom: 20px;
}
.big-text{
    font-size: 52px;
    margin: 20px 0;
    color: pink;
    margin-bottom: 20px;
}
a.btn{
    background-color: #ff556e;
    color: #fff;
}

a.btn:hover{
    background: #fff;
    border: none;
    color: #ff556e;
    box-shadow: 5px 5px 1px #999;
    transition: 0.3s;
    border: 1px solid #ff556e;   
}

.banner-info, .banner-image{
    margin: 5px 0;
}