<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="../App-css/navbar.css">
    <link rel="stylesheet" type="text/css" href="../App-css/stylecss.css"/>
    <script src="https://kit.fontawesome.com/4a8719bdeb.js" crossorigin="anonymous"></script>
    <title>Sync App</title>
</head>
<body>
    <div class="container">
        <div class="row sticky-top">
                <div class="col-12">
                    <div class="row container-nav">
                        <nav class="navbar sticky-top navbar-expand-md" id="myNavbar">
                                <div class="container-fluid">
                                    <a href="../index.html" class="navbar-brand"><img src="../assets/logo.svg" width="90px">
                                    </a>
                                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="navbar-toggler-icon"></span>
                                    </button>
                                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                            <ul class="navbar-nav ms-auto">
                                            <li class="nav-item"><a class="nav-link" href="../view/parte-2.html"><strong>DESCRIPTION</strong></a></li>                                
                                            <li class="nav-item"><a class="nav-link" href="../view/parte-3.html"><strong>FEATURES</strong></a></li>
                                            <li class="nav-item"><a class="nav-link" href="../view/parte-4.html"><strong>SCREENS</strong></a></li>
                                            <li class="dropdown">
                                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" id="dropdownMenuLink" aria-expanded="false">
                                                    EXTRA
                                                </a>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                    <li><a class="dropdown-item" href="#">ARTICLE DETAILS</a></li>
                                                    <li><a class="dropdown-item" href="#">TERMS CONDITIONS</a></li>
                                                    <li><a class="dropdown-item" href="#">PRIVACY POLICY</a></li>
                                                </ul>    
                                            </li>
                                            <li class="nav-item"><a class="nav-link download" href="https://www.factoriaf5.org">DOWNLOAD</a></li>
                                    </div>
                                </div>
                        </nav>
                    </div>
             </div>
        </div>
        <!-- MAIN-->
        <div class="heading">
            <h1><strong>User testimonials</strong></h1>
            </div>
            <div class="row d-flex justify-content-center">
              <div class="col-lg-2 col-md-6">
                  <div class="row d-flex justify-content-center">
                      <div class="col-12">
                        <div class="heartbeat">
                          <i class="fa-solid fa-star fa-lg"></i>
                          <i class="fa-solid fa-star fa-lg"></i>
                          <i class="fa-solid fa-star fa-lg"></i>
                          <i class="fa-solid fa-star fa-lg"></i>
                          <i class="fa-solid fa-star fa-lg"></i>
                        </div>
                      </div>
                    <div class="line"></div>
            
                      <div class="col-12 div-2">
                        <p>
                          I love using sync for my personal development needs.It meets all my
                          requirements and it actually helps a lot with focusing skills.
                        </p>
                      </div>
                    
                      <div class="col-12">
                        <div class="author">Rick Jones-Designer</div>
                    </div>
                    
                      
                  </div>
              </div>
              <div class="col-lg-2 col-md-6">
                  <div class="row d-flex justify-content-center">
                      <div class="col-12"><div class="heartbeat">
                        <i class="fa-solid fa-star fa-lg"></i>
                        <i class="fa-solid fa-star fa-lg"></i>
                        <i class="fa-solid fa-star fa-lg"></i>
                        <i class="fa-solid fa-star fa-lg"></i>
                        <i class="fa-solid fa-star fa-lg"></i>
                      </div></div>
                    
                      <div class="col-12 div-2">
                        <p>After trying out a large number of personal coaching apps I decided to
                        give sync a try and what a wonderful surprise it was.</p>
                      </div>
                    
                      <div class="col-12">
                        <div class="author">Lynda Marquez-Developer</div>
                      </div>
                    
                     
                  </div>
              </div>
              <div class="col-lg-2 col-md-6">
                  <div class="row d-flex justify-content-center">
                      <div class="col-12"><div class="heartbeat">
                        <i class="fa-solid fa-star fa-lg"></i>
                        <i class="fa-solid fa-star fa-lg"></i>
                        <i class="fa-solid fa-star fa-lg"></i>
                        <i class="fa-solid fa-star fa-lg"></i>
                        <i class="fa-solid fa-star fa-lg"></i>
                      </div></div>
                    
                      <div class="col-12 div-2">
                        <p>Never dreamed i could learned so fast how to focus on my personal
                        goals and improve my life to levels i never thought possible.</p>
                      </div>
                    
                      <div class="col-12 ">
                        <div class="author">Jay frisco-Marketer</div>
                      </div>
                    
                      
                  </div>
              </div>
            ​
              
            </div>
            ​
            ​
            ​
            <!-- Force next columns to break to new line -->
            <div class="w-100">
            <div class="container img-center">
            <div class="row">
            <div class="image">
              <img class="img-responsive" src="../assets/customer-logo-1.png">
              <img class="img-responsive" src="../assets/customer-logo-2.png">
              <img class="img-responsive" src="../assets/customer-logo-3.png">
              <img class="img-responsive" src="../assets/customer-logo-4.png">
              <img class="img-responsive" src="../assets/customer-logo-5.png">
            </div>
            </div>
            </div>
            </div>
            ​
            <!------------------ 2 ----------------->
            ​
            <div class="row d-flex justify-content-center">
              <div class="col-lg-2 col-md-6">
                  <div class="row d-flex justify-content-center">
                      <div class="col-12">
                        <div class="heartbeat">
                          <i class="fa-solid fa-star fa-lg"></i>
                          <i class="fa-solid fa-star fa-lg"></i>
                          <i class="fa-solid fa-star fa-lg"></i>
                          <i class="fa-solid fa-star fa-lg"></i>
                          <i class="fa-solid fa-star fa-lg"></i>
                        </div>
                      </div>
                    
                      <div class="col-12 div-2">
                        <p>
                          I got so much value from using sync in my daily life from which i am
            very grateful and would recommend it to everybody.
                        </p>
                      </div>
                    
                      <div class="col-12">
                        <div class="author">Frank Gibson-Manager</div>
                    </div>
                    
                      
                  </div>
              </div>
              <div class="col-lg-2 col-md-6">
                  <div class="row d-flex justify-content-center">
                      <div class="col-12"><div class="heartbeat">
                        <i class="fa-solid fa-star fa-lg"></i>
                        <i class="fa-solid fa-star fa-lg"></i>
                        <i class="fa-solid fa-star fa-lg"></i>
                        <i class="fa-solid fa-star fa-lg"></i>
                        <i class="fa-solid fa-star fa-lg"></i>
                      </div></div>
                    
                      <div class="col-12 div-2"><p>If you have great goals but, can't figure out a way to keep focused
                        then you should definitely give sync a try and see the results.</p>
                      </div>
                    
                      <div class="col-12">
                        <div class="author">Rita longmile-Designer</div>
                      </div>
                    
                     
                  </div>
              </div>
              <div class="col-lg-2 col-md-6">
                  <div class="row d-flex justify-content-center">
                      <div class="col-12"><div class="heartbeat">
                        <i class="fa-solid fa-star fa-lg"></i>
                        <i class="fa-solid fa-star fa-lg"></i>
                        <i class="fa-solid fa-star fa-lg"></i>
                        <i class="fa-solid fa-star fa-lg"></i>
                        <i class="fa-solid fa-star fa-lg"></i>
                      </div></div>
                    
                      <div class="col-12 div-2">
                        <p>I have been looking for a great organizer app for such a long time
                          but, now I am really happy that I found sync.It's been working great.</p>
                      </div>
                    
                      <div class="col-12">
                        <div class="author">Jones Smith-Developer</div>
                      </div>
                    
                      
                  </div>
              </div>
            ​
              
            </div>
            ​
            <!------------------ 2 ----------------->
            <div class="row d-flex justify-content-center cont-iconos">
              <div class="col-lg-2 col-md-6 ">
                  <div class="row d-flex justify-content-center">
                      <div class="col-12"><i id="icon-users" class="fa-solid fa-users iconos" ></i></div>
                  
                      <div class="col-12"><h2>231</h2></div>
                  
                      <div class="col-12">Happy User</div>
                  
                      
                  </div>
              </div>
            ​
              <div class="col-lg-2 col-md-6">
                  <div class="row d-flex justify-content-center">
                      <div class="col-12"><i id="icon-code" class="fa-solid fa-code iconos"></i></div>
                  
                      <div class="col-12"><h2>385</h2></div>
                  
                      <div class="col-12">Issues Solved</div>
                                     
                  </div>
              </div>
            ​
              <div class="col-lg-2 col-md-6">
                  <div class="row d-flex justify-content-center">
                      <div class="col-12"><i id="icon-gear" class="fa-sharp fa-solid fa-gear iconos"></i></div>
                  
                      <div class="col-12"><h2>150</h2></div>
                  
                      <div class="col-12">Good Reviews</div>
                                     
                  </div>
              </div>
            ​
              <div class="col-lg-2 col-md-6">
                  <div class="row d-flex justify-content-center">
                      <div class="col-12"><i id="icon-comments" class="fa-solid fa-comments iconos"></i></div>
                  
                      <div class="col-12"><h2>127</h2></div>
                  
                      <div class="col-12">Case Studies</div>
                                      
                  </div>
              </div>
            ​
              <div class="col-lg-2 col-md-6">
                  <div class="row d-flex justify-content-center">
                      <div class="col-12"><i id="icon-rocket" class="fa-solid fa-rocket iconos"></i></div>
                  
                      <div class="col-12"><h2>211</h2></div>
                      
                      <div class="col-12 ">Orders Received</div>
                  </div>
              </div>    
            </div>
            ​

        <!-- FIN MAIN-->
        
        </div>
            <div class="col-12">
                <!-- FOOTER -->
            </div>            
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>


